{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load i18n %}
{% block title %}
    Article
{% endblock title %}
{% block style %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
{% load custom_tags %}
{% define current_time|timezone:TIME_ZONE as loctime %}
{% if loctime.hour >= 19 or loctime.hour <= 7 %}
<style>
    body {
        background-color: darkgray;
    }
</style>
{% endif %}
{% endblock style %}
{% block content %}
<h1>{{ article.heading|censor }}</h1>
<div class="text-start">
    <p>{{article.date|date:"d M Y"}}</p>
    <p>{{article.text|censor}}</p>
    <p>{% trans "Author" %}: {{article.author.user.username}}</p>
    <p class="flex justify-content-start">{% trans "Categories" %}:
        {% for category in article.categories.all %}
        {{category}};
        {% endfor %}
    </p>
    <hr>
    {% if article.author.user == request.user %}
    <a href="{{ article.id }}/update">{% trans "Change" %}</a>
    <a href="{{ article.id }}/delete">{% trans "Delete" %}</a>
    {% endif %}
    {% if request.user %}
    <a class="m-3" href="{{ article.id }}/subscribe">{% trans "Subscribe" %}</a>
    {% endif %}
</div>
{% endblock content %}