{% extends "flatpages/default.html" %}
{% load i18n %}
{% block style %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
{% load custom_tags %}
{% define current_time|timezone:TIME_ZONE as loctime %}
{% if loctime.hour >= 19 or loctime.hour <= 7 %}
<style>
    body {
        background-color: darkgray;
    }
</style>
{% endif %}
{% endblock style %}
{% block content %}
<h2> {% trans "Log in" %} </h2>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Войти">
</form>
<button> <a href="/sign/signup"> {% trans "Register" %} </a></button>
{% endblock %}